<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' type='text/css' href='/assets/styles.css' />
</head>

<body>
  <h1 align='center'>Raspberry Pi 4 Resource Monitor</h1>
  <h2>Disk Usage</h2>
    <%= disks %>
  <h2>CPU Temperature </h2>

</body>
</html>
